apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - release.yaml

generatorOptions:
  # labels to add to all generated resources
  labels:
    grafana_dashboard: "1"
#  annotations:
#    kubectl.kubernetes.io/last-applied-configuration: "removed-by-flux"
  # disableNameSuffixHash is true disables the default behavior of adding a
  # suffix to the names of generated resources that is a hash of
  # the resource contents.
  disableNameSuffixHash: true

configMapGenerator:
  - name: grafana-dashboard-1
    files:
      - grafana-dashboards/control-plane.json
  - name: grafana-dashbard-2
    files:
      - grafana-dashboards/cluster.json
  - name: grafana-dashbard-3
    files:
      - grafana-dashboards/kubernetes-apps_rev1.json
  # https://grafana.com/grafana/dashboards/9809
  - name: grafana-dashbard-4
    files:
      - grafana-dashboards/namespace-resources.json

secretGenerator:
- name: additional-scrape-configs
  files:
  - prometheus-additionalScrapeConfig.yaml
- name: kube-prometheus-stack-grafana-custom
  literals:
  - admin-user=admin
  - admin-password=mptest
  - ldap-toml=""
