apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  releaseName: kube-prometheus-stack
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      #version: "15.3.1"
      #version: "15.4.6"
      version: "15.4.4"
  interval: 0h5m0s
  install:
    replace: true
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    remediation:
      retries: 3
    crds: CreateReplace
    cleanupOnFail: true
  values:
    prometheus:
      prometheusSpec:
        additionalScrapeConfigsSecret:
          enabled: true
          name: additional-scrape-configs
          key: prometheus-additionalScrapeConfig.yaml
        podMonitorSelector:
          matchLabels:
            prometheusPodMonitor: include
    grafana:
      adminPassword: prom-operator
      grafana.ini:
        users:
          viewers_can_edit: false
        auth:
          disable_login_form: false
          disable_signout_menu: false
        auth.anonymous:
          enabled: true
          org_role: Viewer
#        serviceMonitorSelector:
#          matchLabels:
#            prometheusServiceMonitor: include
#  postRenderers: 
#  - kustomize:
#      patchesStrategicMerge:
#      - apiVersion: apps/v1
#        kind: Deployment
#        metadata:
#          name: kube-prometheus-stack-grafana
#          namespace: kube-system
#          annotations:
#            wave.pusher.com/update-on-config-change: "true"
